body {
  padding: 30px;
  margin: 20px;
  line-height: 25px:
  font-size: 15px;
  font-family: "Times", "Times New Roman", serif;
  background-color: #000000;
  color: #fff;
  }
.stih {
font-family: fantasy, "Times New Roman";
font-size: 25px;
color: #ed5595;
font-weight: 500;
}
