body {
  padding: 30px;
  margin: 20px;
  line-height: 25px:
  font-size: 15px;
  font-family: "Times", "Times New Roman", serif;
  background-color: black;
  color: #fff;
  }
.stih {
line-height: 35px:
text-align: center;
font-family: fantasy, "Times New Roman";
font-size: 50px;
color: #ed5595;
font-weight: 500;
}

h1 {
text-align: center;
}
