body {
  padding: 30px;
  margin: 20px;
  line-height: 25px:
  font-size: 15px;
  font-family: "Times", "Times New Roman", serif;
  color: white;
  }
pre {
font-family: "Trattatello", fantasy;
font-size: 25px;
color: red;
font-weight: bold;
}
